@model SMEPanel.Models.Universal

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>index</h2>

  <!-- BEGIN PAGE CONTENT -->
<div class="page-content page-thin">
    @*<div class="row">

        <div class="row m-t-10">
            <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel">
                    <div class="panel-content widget-info">
                        <div class="row">
                            <div class="left">
                                <i class="fa fa-umbrella bg-green"></i>
                            </div>
                            <div class="right">
                                <p class="number countup" data-from="0" data-to="@ViewBag.mypost">0</p>
                                <p class="text">My Post</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel">
                    <div class="panel-content widget-info">
                        <div class="row">
                            <div class="left">
                                <i class="fa fa-bug bg-blue"></i>
                            </div>
                            <div class="right">
                                <p class="number countup" data-from="0" data-to="@ViewBag.mysme" data-suffix="k">0</p>
                                <p class="text">My SME</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="panel">
                    <div class="panel-content widget-info">
                        <div class="row">
                            <div class="left">
                                <i class="fa fa-fire-extinguisher bg-red"></i>
                            </div>
                            <div class="right">
                                <p class="number countup" data-from="0" data-to="463" data-suffix="k">0</p>
                                <p class="text">Feedbacks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>*@
    <div class="row">
        <div class="col-md-4 col-sm-6 portlets">
            <div class="panel">
                <div class="panel-header panel-controls">
                    <h3><i class="icon-list"></i> <strong>Todo</strong> List</h3>
                </div>
                <div class="panel-content">
                    <ul class="todo-list ui-sortable">
                       
                     
                        @*</li>
                        <li>
                            <span class="span-check">
                                <input id="task-6" type="checkbox" data-checkbox="icheckbox_square-blue" />
                                <label for="task-6"></label>
                            </span>
                            <span class="todo-task">Have a breakfeast before 12</span>
                            <div class="todo-date clearfix">
                                <div class="completed-date"></div>
                                <div class="due-date" id="">Due on <span class="due-date-span">1 January</span></div>
                            </div>
                            <span class="todo-options pull-right">
                                <a href="javascript:;" class="todo-delete"><i class="icons-office-52"></i></a>
                            </span>
                        </li>
                    </ul>*@
                    <div class="clearfix m-t-10">
                        <div class="pull-left">
                            <button type="button" class="btn btn-sm btn-default check-all-tasks">Check All Done</button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-dark add-task">Add Task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="col-md-4 col-sm-6 portlets">
            <div class="panel widget-weather"></div>
           <!-- <div class="panel widget-member clearfix">
                @foreach (var item in Model.objlists)
                {
                <div class="col-xs-3">
                    <img src="@item.profilepic" alt="avatar 12" class="pull-left img-responsive">
                </div>
                <div class="col-xs-9">
                    
                    <h3 class="m-t-0 member-name"><strong>@item.smename</strong></h3>
                    <p class="member-job">@item.bdid</p>
                    <div class="row">
                        <div class="col-xlg-6">
                            <p><i class="icon-envelope c-gray-light p-r-10"></i>@item.email</p>
                            @*<p><i class="fa fa-facebook c-gray-light p-r-10"></i> fb.com/jsnow</p>*@
                        </div>
                        <div class="col-xlg-6 align-right">
                            @*<p><i class="icon-calendar c-gray-light p-r-10"></i> 6 may 2014</p>
                            <p><i class="icon-target c-gray-light p-r-10"></i> New York</p>*@
                        </div>
                    </div>
                    
                </div>
                }
            </div>-->
        </div>
        <div class="col-md-4 col-sm-6 portlets">
            <div class="widget widget_calendar bg-dark">
                <div class="multidatepicker"></div>
            </div>
            @*<div class="panel m-t-0">
                <div class="panel-header panel-controls">
                    <h3><i class="icon-basket"></i> <strong>SME</strong> Volume Stats</h3>
                </div>
                <div class="panel-content p-t-0 p-b-0">
                    <div id="bar-chart"></div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            <p class="pull-left sm-pull-reset">
                <span>Copyright <span class="copyright">©</span> 2015 </span>
                <span>mShipper</span>.
                <span>All rights reserved. </span>
            </p>
            <p class="pull-right sm-pull-reset">
                <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->